@mixin padding {
  --lgd-comp-button-filled-padding-vertical: 6px;
  --lgd-comp-button-filled-padding-horizontal: 6px;
}

@mixin min-size {
  --lgd-comp-button-filled-min-width: 80px;
}

@mixin border-radius {
  --lgd-comp-button-filled-border-radius: var(--lgd-sys-border-radius-medium);
}

@mixin all {
  @include padding;
  @include min-size;
  @include border-radius;
}
