---
import Layout from '../layouts/Layout.astro';

import FilledButton from '../components/button/FilledButton.vue';
---

<Layout>
  <h2>LGD UI</h2>
  <h2>罗小黑风格组件库</h2>
  <div class="line">
    <FilledButton type="secondary">是</FilledButton>
    <div class="gap"></div>
    <FilledButton type="tertiary">否</FilledButton>
  </div>
  <hr/>
  <FilledButton type="primary">是</FilledButton>
  <FilledButton type="primary" fullWidth>是</FilledButton>
  <FilledButton type="secondary">是</FilledButton>
  <FilledButton type="secondary" fullWidth>是</FilledButton>
  <FilledButton type="tertiary">是</FilledButton>
  <FilledButton type="tertiary" fullWidth>是</FilledButton>
</Layout>

<style lang="scss">
.line {
  display: flex;

  .gap {
    flex: 1;
  }
}
</style>
